@import '../../../styles/vars.scss';
@import '../../../styles/common.scss';

.module_container {
    width: 100%;
    height: 100%;
    text-align: left;
    overflow-y: hidden;

    .sidebar-column {
        display: flex;

        @include media-tab {
            display: none;
        }

        @include media-mobile {
            display: none;
        }

        .sidebar {
            height: 100%;
            width: 100%;
            min-height: calc(100vh);
            padding: 40px 20px;
            border-right: 1px solid #bababa;

        }
    }

    .list-content {
        @include media-tab {
            width: 100%;
        }

        @include media-mobile {
            width: 100%;
        }
    }

    .sort-options {
        font-size: 20px;
        padding: 40px 20px;
        font-weight: bold;
        display: flex;

        @include media-tab {
            display: none;
        }

        @include media-mobile {
            display: none;
        }

        .sort-option-button {
            margin: 0px 20px;
            font-size: 16px;
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
        }

        .sort-option-button-selected {
            @extend .sort-option-button;
            border-bottom: 2px solid $primaryColor;
            color: $primaryColor;

        }
    }

    .shopping-list-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow-x: hidden;



        .options-container {
            display: none;

            @include media-tab {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            @include media-mobile {
                display: flex;
            }

            .options-button {
                background: none;
                border: none;
                font-size: 20px;
                outline: none;
                cursor: pointer;
                margin: 0px 30px;

                label {
                    padding-left: 10px;
                }
            }

            .button-sort {
                font-size: 24px;

                label {
                    font-size: 20px;
                }
            }


        }

        .shopping-list {
            padding: 0px 30px;

            @include media-tab {
                padding: 0px 20px;
            }

            @include media-mobile {
                padding: 0px 20px;
            }

            .no-items {
                width: 100%;
                padding: 40px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: right;

            }
        }

    }

    .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
        padding-bottom: 10px;

        .item-name {
            padding-top: 6px;
        }

        .item-image {
            width: 100%;
            height: 200px;
            background-size: cover;
        }

        .card-content {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 8px 0px;

            .price-after-discount {
                font-weight: bold;
            }

            .original-price {
                padding: 0px 10px;

                @include media-tab {
                    padding: 0px 6px;
                }

                @include media-mobile {
                    padding: 0px 6px;
                }

                font-size: 12px;
                text-decoration: line-through;
            }

            .off-label {
                padding: 0px 8px;

                @include media-tab {
                    padding: 0px 4px;
                }

                @include media-mobile {
                    padding: 0px 4px;
                }

                color: rgb(3, 180, 3);
                font-weight: 500;
            }

            .no-discount {
                padding: 0px 10px;
            }
        }

        .add-to-cart-button {
            margin: 0px auto;
            width: 100px;
            height: 30px;
            background-color: $secondaryColor;
            border-radius: 16px;
            border: none;
            outline: none;
            cursor: pointer;
        }

        .add-to-cart-button:disabled {
            width: 120px;
            cursor: auto;
            @extend .add-to-cart-button;
            opacity: 0.5;

        }

        .add-to-cart-button:hover {
            font-weight: bold;
            box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.5);
        }
    }



}

.ant-radio-inner::after {
    border: 2px solid $primaryColor !important;
    background-color: $primaryColor !important;
}
.ant-slider-rail{
    background-color: #dadada !important;
}
.ant-slider-track {
    background-color: $primaryColor !important;
}

.ant-slider-handle {
    width: 18px !important;
    margin-top: -7px !important;
    height: 18px !important;
    border: 2px solid #999999 !important;
}

.filter-options {
    display: flex;
    flex-direction: column;
    align-items: center;

    .filters {
        width: 100%;
        text-align: left;
        font-size: 20px;
        font-weight: bold;

    }


    .apply-button {
        margin-top: 20px;
        padding: 6px 40px;
        background-color: $primaryColor;
        color: $secondaryTextColor;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        outline: none;
    }

    .apply-button:hover {
        font-weight: bold;
        box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.5);
    }
}

.price-range {
    margin-top: 20px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;

}

.slider {
    width: 90%;
}