@import '../../styles/vars.scss';
@import '../../styles/common.scss';
@import '../../../node_modules/antd/dist/antd.css';

@font-face {
    font-family: 'Verdana';
    src: url('../../assets/fonts/Verdana.woff'),
        url('../../assets/fonts/verdana.ttf');
}

.shell {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Verdana';
    overflow-y: hidden;

    .content-transition {
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.2s;
        -webkit-transition-timing-function: ease;
        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: ease;
    }

    .header {
        width: 100%;
        height: $headerHeight;
        background-color: $primaryColor;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;

        .header-right-content {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .search-text-input {
                width: 220px;
                padding: 2px 8px;
            }

            input {
                border: none;
                border-bottom: 1px solid #efefef;
                background: none;
                color: $secondaryTextColor;
                outline: none;
            }

            button {
                padding: 10px;
                margin: 0px 2px;
                font-size: 22px;
                background: none;
                border: none;
                outline: none;
                cursor: pointer;
            }

            .cart-info {
                position: absolute;
                top: 12px;
                right: 20px;
                background-color: #ff0000;
                width: 16px;
                height: 16px;
                border-radius: 100em;
                text-align: center;
                color: $secondaryTextColor;
                font-size: 10px;
                ;
            }
        }
    }


    .main_content {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        overflow-y: hidden;

        .content {
            width: 100%;
            height: 100%;
            min-height: calc(100vh);
            overflow-y: hidden;

            @include media-tab {
                width: 100%;
                padding: 20px 0px;
            }

            @include media-mobile {
                width: 100%;
                padding: 20px 0px;
            }

            height: 100%;
            overflow-y: auto;
        }
    }

    .footer {
        width: 100%;
        background-color: $primaryColor;

        label {
            display: block;
            width: 100%;
            padding: 6px 10px;

            text-align: center;
            color: $secondaryTextColor;
        }
    }

}