.alert-custom-modal {
  font-family: inherit;
  width: 80% !important;
  max-width: 460px;
}

.alert-custom-modal>.ant-modal-content {
  box-shadow: 1px 1px 20px 8px rgba(51, 51, 51, 0.1);
  border-radius: 0px;
  padding: 0px;
}

.ant-modal-body {
  padding: 0px 20px !important;
}

.alert-custom-modal>.ant-modal-content>.ant-modal-header {
  border-color: transparent;
}

.alert-custom-modal>.ant-modal-content>.ant-modal-header>.ant-modal-title {
  font-size: 22px !important;
  color: #424242 !important;

}

.alert-custom-modal>.ant-modal-content>.ant-modal-body>._footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 0px;
  position: relative;
}

.alert-custom-modal>.ant-modal-content>.ant-modal-body>._footer:before {
  content: "";
  min-height: 1px;
  background-color: #d9d9d9;
  position: absolute;
  top: 0;
  width: calc(100% + 40px);
}

.alert-custom-modal>.ant-modal-content>.ant-modal-body>._footer .ant-btn {
  font-size: 16px;
  width: 50%;
  height: 100%;
  border: none;
  background:none;
  color: blue;
  border-radius: 0px;
  font-weight: 500;
}
.alert-custom-modal>.ant-modal-content>.ant-modal-body>._footer .next {
  border-left: 1px solid #d9d9d9;
}